#created1 {

    width: 22vw;
    height: 29vh;
    border-radius: 10px;
    border: 2px solid black;
    align-items: flex-start;

}
.di {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#but1{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

   
}

.a {
    margin-top: 3%;
}
