#created1 {


    height: 24vh;
    border-radius: 10px;
    border: 2px solid black;
    align-items: flex-start;
}

.a {
    margin-top: 3%;
}
#close {
    margin-top: 10px;
    width: 40%;
    height: 14%;
}
#create1 {

    margin-top: 10px;
    width: 40%;
    height: 14%;
}